<?xml version="1.0"?>
<configuration>
  <AuthInfos>
    <AuthInfo>
      <Domain>
        CHC
      </Domain>
      <User>
      vk23942
      </User>
      <Interface>
        ITestService
      </Interface>
      <Method>
        CheckData
      </Method>
    </AuthInfo>
    <AuthInfo>
      <Domain>
        CHC
      </Domain>
      <User>
        vk23942
      </User>
      <Interface>
        ITestService
      </Interface>
      <Method>
        GetDate
      </Method>
    </AuthInfo>
  </AuthInfos>
</configuration>
