<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
    </diagnostics>

    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBindingConfiguration">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows">
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="WcfSecurity.SecureService.BasicHttpService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfSecurity.SecureService.ITestService" bindingConfiguration="BasicHttpBindingConfiguration"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>

      <service behaviorConfiguration="defaultServiceBehavior" name="WcfSecurity.SecureService.WSHttpService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfSecurity.SecureService.ITestService" bindingConfiguration="WSHttpBindingConfiguration"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="WcfSecurity.SecurityPolicy.AuthorizationManager,SecurityPolicy">
            <authorizationPolicies>
              <add policyType="WcfSecurity.SecurityPolicy.AuthorizationPolicy, SecurityPolicy"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Servicelogs\Tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Servicelogs\Messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
